<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/desktop/form.css">
    
    <title>ATM</title>
</head>
<body>
    <header></header>

    <main>
        <div class="contenedor">
            <div class="encabezado">
                <h1>ATM</h1>
                <p style="text-align: center;">Todos tus movimientos a un click, registrate e inicia sesión en ATM Bank</p>
            </div>
            
            <div class="enlaces">
                <a class="fondo-enlace-registro" href="javascript:void(0)" id="enlace-registro" onclick="mostrarFormulario('contenido-formulario1')">Registro</a>
                
                <a class="fondo-enlace-login" href="javascript:void(0)" id="enlace-login" onclick="mostrarFormulario('contenido-formulario2')">Login</a>
            </div>
        
            <div id="contenido-formulario1">
                <div id="formularioRegistro">
                    <form class="registro" id="formulario1">
                        <h2>Regístrate</h2>
                        <p>Crea una nueva cuenta</p>
                        <br>
                        <label>Nombre de usuario:</label>
                        <input type="text" id="usuarioRegistro" name="usuario" class="inputs" required>
            
                        <label>Contraseña:</label>
                        <input type="password" id="contraseñaRegistro" name="contraseña" class="inputs" required>
            
                        <label>Confirmar Contraseña:</label>
                        <input type="password" id="confirmarContraseña" name="confirmarContraseña" class="inputs" required>
            
                        <button type="button" class="botones" id="registroBtn">Registrarme</button>
                    </form>
                </div>
            </div>

            <div id="contenido-formulario2">
                <div id="formularioIngreso">
                    <div id="formularioLogin">
                        <form class="login" id="formulario2">
                            <h2>Ingresa</h2>
                            <p>Bienvenido</p>
                            <br>
                            <label>Nombre de usuario:</label>

                            <input type="text" id="nombreUsuarioLogin" name="usuario" class="inputs">
                
                            <label>Contraseña:</label>
                            <input type="password" id="ContraseñaLogin" name="contraseña" class="inputs">
    
                            <button type="button" class="botones" id="LoginBtn">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>       
        </div>
    </main>

    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../../app/models/modeloLogin.js"></script>
    <script type="module" src="../../app/models/modeloRegistro.js"></script>
    <script src="/src/app/js/forms.js"></script>
    <script type="module" src="../../app/models/modeloRegistro.js"></script>
    <script type="module" src="../../app/models/modeloLogin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/src/app/js/main.js"></script>
      
</body>
</html>