<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="">
            <label for="">Iniciar Sesion</label>
            <br>
            <input id="inicioSesionUsuario" type="text">
            
            <br><br>

            <label for="">contraseña</label>
            <br>
            <input id="inicioSesionContraseña" type="text">

            <br>
            <button id="inicioSesionBoton" type="button">Iniciar Sesion</button>
        </form>
    </main>
    <script type="module" src="../../app/js/validator.js"></script>
</body>
</html>