<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./styles/Mobile/index.css">
      <title>ATM project</title>
</head>
<body>
      <header></header>

            <main>
                  <section>
                        <h1>Hola Juan</h1>
                        <p>Bienvenido a ATM! Donde podrás manejar tus finanzas de manera segura y confiable.</p>
                  </section>

                  <section>
                        <div class="card">
                              <div class="card__accountInfo">
                                    <ul>
                                          <li>Nombre:</li>
                                          <li>Numero de cuenta:</li>
                                    </ul>
                              </div>

                              <div class="card__accountSalary">
                                    <h2>Saldo actual</h2>
                                    <p>Su saldo disponible es: </p>
                                    <h3>$1.000.000</h3>
                              </div>
                        </div>

                        <div class="operations">
                              <ul class="operations__iconList">
                                    <li class="operations__item">
                                          <a href=""><img class="operations__icon" src="./assets/transaccion.png" alt="trasnferir"></a>
                                          <p>Transferir</p>
                                    </li>
                                    
                                    <li class="operations__item">
                                          <a href=""><img class="operations__icon" src="./assets/consignar.png" alt="consignar"></a>
                                          <p>Consignar</p>
                                    </li>
                                    
                                    <li class="operations__item">
                                          <a href=""><img class="operations__icon" src="./assets/retirar.png" alt="retirar"></a>
                                          <p>Retirar</p>
                                    </li>
                                    
                                    <li class="operations__item">
                                          <a href=""><img class="operations__icon" src="./assets/movimientos.png" alt="movimientos"></a>
                                          <p>Movimientos</p>
                                    </li>
                              </ul>

                        </div>
                        
                  </section>
            </main>

      <footer></footer>
      
      <script src="/src/app/main.js"></script>
</body>
</html>