<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ATM project</title>
</head>
<style>


      html,body{
            min-height: 100vh;

      }

      body{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
      }
      main{
            flex:1;
      }
      .footer{
            width: 100%;
            text-align: center;
            position: relative;
            bottom: 0;
            border-top: 1px solid #aaaaaa;
            padding: 15px 0px;
            z-index: 2;
            
      }
</style>
<body>
      <footer>
            <section class="footer">
                  <p>
                      &copy; 2024 ATM. Todos los derechos reservados.  
                  </p>
            </section>
      </footer>
      
</body>
</html>