
main{
      width: 100%;
      padding: 20px;
      background-color: #F2F2F2;
      display: flex;
      flex-direction: column;
      gap: 20px;
}





.container{
      display: flex;
      flex-direction: column;
      gap: 30px;
}

.card{
      background-color: white;
      border-radius: 10px;
      padding: 15px;
      -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);

}

.operations{
      display: flex;
      flex-direction: column;
      gap: 30px;
      
}


.operations__iconList{
      display: flex;
      justify-content: center;
      gap: 15px;
      flex:1;
      cursor: pointer;
      
}

.operations__item{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.operations__item p{
      font-size: 0.9rem;
}

.operations__icon{
      width: 24px;
}


form div{
      display: flex;
      flex-direction: column;
}


.hidden{
      display: none;
}

.operations__cardsTitle{
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-bottom: 20px;
}

.cardsTitle{
      margin-bottom: 0;
}

.operations__cardsTitle p, .main__header p, .card__accountSalary p{
      color: rgb(107, 107, 107);
}

.card__accountSalary h2{
      margin-top: 5px;
}

.card__accountSalary h3{
      margin-top: 10px;
      font-size: 1.6rem;
}

.operations__form, .operations__form div {
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.operations__form div{
      gap: 10px;
}

.operations__form div label{
      font-weight: 600;
}

.operations__form div input{
      padding: 5px;
      border-radius: 5px;
      border: 1px solid rgb(170, 170, 170); ;

}

.operations__button{
      background-color: black;
      color: white;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer;
}

.operations__button:hover{
      background-color: rgb(44, 44, 44);
}